@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
}

#main {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(#e66465, #9198e5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.1fr 0.7fr 0.1fr;
  grid-template-areas:
    'title title title title'
    'main-menu main-menu main-menu main-menu'
    'message message message message'
    'game-board game-board game-board game-board'
    'bottom-menu bottom-menu bottom-menu bottom-menu';
}

#title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-menu {
  grid-area: main-menu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message {
  grid-area: message;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board {
  grid-area: game-board;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-menu {
  grid-area: bottom-menu;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 15rem;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

#player-name {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#menu-button {
  height: 50%;
  display: flex;
  align-items: center;
}

#game-fields {
  height: 315px;
  width: 315px;
  border: 5px solid black;
  background: linear-gradient(#e66465, #9198e5);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.field {
  cursor: pointer;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
}

button {
  width: 140px;
  height: 35px;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
